<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/E_PHARMA/customerreg_post/">
  <table width="200" border="1">
      {% csrf_token %}
    <tr>
      <td>NAME</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>PHONE</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>E-MAIL</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>HOUSE NAME</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <td>POST</td>
      <td><input type="text" name="textfield6" id="textfield6" /></td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td><input type="text" name="textfield7" id="textfield7" /></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><input type="text" name="textfield8" id="textfield8" /></td>
    </tr>
    <tr>
      <td>PASSWORD</td>
      <td><input type="text" name="textfield10" id="textfield10" /></td>
    </tr>
    <tr>
      <td>CONFIRM PASSWORD</td>
      <td><input type="text" name="textfield11" id="textfield11" /></td>
    </tr>
    <tr>
      <td><input type="submit" name="button" id="button" value="SUBMIT" /></td>
      <td><input type="submit" name="button2" id="button2" value="CANCEL" /></td>
    </tr>
  </table>
</form>
</body>
</html>
