{% extends 'customer/cindex.html'%}
{% block body %}

<body>
<form action="/E_PHARMA/upload_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-bordered table-hover table-striped">
      {% csrf_token %}
    <tr>
      <td>PRESCRIPTION</td>
      <td><input type="file" name="fileField" id="fileField" class="form-control" required/></td>
    </tr>
    <tr align="center">
      <td colspan="2"><input type="submit" name="button2" id="button2" value="UPLOAD" class="btn btn-success"/></td>

    </tr>
  </table>
</form>
</body>
{% endblock %}