<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/E_PHARMA/view_profile/">View Profile</a><br>
<a href="/E_PHARMA/customer_search_products/">Search Products</a><br>
<a href="/E_PHARMA/customer_upload_prescription/">Upload Prescription</a><br>
<a href="/E_PHARMA/view_availability_status/">View Availability Status</a><br>
<a href="/E_PHARMA/view_order_status/">View Order Status</a><br>
{#<a href="/E_PHARMA/customer_payment/">Payment</a><br>#}
<a href="/E_PHARMA/customer_view_payment_history/">View Payment History</a><br>
<a href="/E_PHARMA/customer_send_complaint/">Send Complaint</a><br>
<a href="/E_PHARMA/customer_view_reply/">View Reply</a><br>
<a href="/E_PHARMA/customer_send_feedback/">Send Feedback</a><br>
</body>
</html>