{% extends 'customer/cindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/E_PHARMA/vieworderstatussub_post/">
  <table class="pull-left">
      {% csrf_token %}
    <tr>
      <th>FROM</th>
      <th><input type="date" name="textfield" id="textfield" class="form-control" required/></th>
      <th>TO</th>
      <th><input type="date" name="textfield2" id="textfield2" class="form-control" required/></th>
      <th><input type="submit" name="Submit" id="button" value="SEARCH" class="btn btn-info"/></th>
    </tr>
  </table>
    <table class="table table-bordered table-hover table-striped">

    <tr style="background-color: lightgray">
      <th>SLNO</th>
      <th>PRODUCT_NAME</th>
        <th>QUANTITY</th>
        <th>PRICE</th>
    </tr>
      {% for i in data %}
      <tr>
      <td> {{ forloop.counter}}</td>
      <td> {{ i.PRODUCT.Product_Name }}</td>
      <td>{{ i.Quantity }} </td>
      <td> {{ i.PRODUCT.Price }}</td>
      </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

</body>
{% endblock %}