{% extends 'admin/adminindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/E_PHARMA/addstock_post/" enctype="multipart/form-data">
          {% csrf_token %}

  <table class="table table-bordered">
{#    <tr>#}
{#      <td>PRODUCT_CODE</td>#}
{#      <td><input type="text" name="textfield" id="textfield" /></td>#}
{#    </tr>#}
    <tr>
      <th width="300">Product Name</th>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th width="300">Product Image</th>
      <td><input type="file" name="image"class="form-control" required/></td>
    </tr>
      <tr>
      <th width="250">Category</th>
      <td><select name="select" id="select" class="form-control" required>
          <option value="RX">RX</option>
          <option value="OTC">OTC</option>
      </select></td>
    </tr>
      <tr>
      <th width="250">Type</th>
      <td><select name="select2" id="select2" class="form-control" required>
          <option value="Tablet">Tablet</option>
          <option value="Syrup">Syrup</option>
          <option value="Antiseptic">Antiseptic</option>
          <option value="Ointment">Ointment</option>
          <option value="Balm">Balm</option>
          <option value="Inhaler">Inhaler</option>
          <option value="Diaper">Diaper</option>
          <option value="SanitaryNapkin">Sanitary Napkin</option>
          <option value="haircare">Hair Care</option>
          <option value="Skincare">Skin Care</option>
      </select></td>
    </tr>
    <tr width="250">
      <th>Manufacturer Name</th>
      <td><input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>

    <tr width="250">
      <th>Quantity</th>
      <td><input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
       <tr>
      <th width="250">Net. Volume/No.of Tablets per Unit</th>
      <th><div>
          <div class="col-lg-11"><input type="text" name="textfield5" id="textfield5" class="form-control" required/></div>

      <div class="col-lg-1"><label id="lab" name="lab"></label></div>
      </div>
<input type="hidden" name="type" id="type" class="form-control" required/>
          </th>
    </tr>
    <tr width="250">
      <th>Price</th>
      <td><input type="text" name="textfield6" id="textfield6" class="form-control" required/></td>
    </tr>
    <tr width="250">
      <td colspan="2"align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-info"/></td>
    </tr>
  </table>
</form>


<script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
<script  type="text/javascript" >


  $(document).on('change','#select2',function () {

      $.ajax({
          url: "/E_PHARMA/load_on_type/",
          type: "POST",
          data: {
              'cid': $(this).val()
          },
          dataType: "json",
          success: function (dat) {

              $("#div").empty();
              var d = dat['data'];
              document.getElementById("lab").innerHTML=d
              document.getElementById("type").value=d



          },
          error: function (ts) {

              alert('no');

          },
          complete: function (ts) {

          }
      });


  });


</script>




</body>
{% endblock %}
