{% extends 'admin/adminindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/E_PHARMA/viewstocks_post/">
  <table class="fa-pull-left">
      {% csrf_token %}
    <tr>
      <th><input type="text" name="textfield" id="textfield" placeholder="Enter Product Name " class="form-control"/></th>
      <th><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-info" required/></th>
    </tr>
  </table>
<br>
<br>
  <table class="table table-bordered table-hover">

    <tr style="background-color: lightgray">
      <th>SLNO</th>
{#      <th scope="col">PRODUCT_CODE</th>#}
      <th >Product_Name</th>
        <th >&nbsp;Product_Image</th>
      <th>Category</th>
      <th>Type</th>

      <th>Net.Qty</th>
        <th>Manufacturer_Name</th>
        <th>Quantity</th>
      <th>Price</th>
        <th> </th>
        <th> </th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
{#      <td>&nbsp;{{ i.Product_Code }}</td>#}
      <td>{{ i.Product_Name }}</td>
        <td><img src="{{ i.Product_image }}" width="200px" height="200px"> </td>
        <td>{{ i.Category }}</td>
        <td>{{ i.Product_Type }}</td>
        <td> {{ i.Netvoldos }}</td>
      <td>{{ i.Manufacturer_Name }}</td>

      <td>{{ i.Quantity }}</td>

      <td>{{ i.Price }}</td>

      <td><a href="/E_PHARMA/admin_edit_stock/{{ i.id }}" class="btn btn-warning">Edit</a></td>
      <td><a href="/E_PHARMA/admin_delete_stocks/{{ i.id }}" class=" btn btn-danger" onclick="return confirm('Are You Sure?')">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
