{% extends 'admin/adminindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/E_PHARMA/addinventory_post/">
  <table class="table table-bordered table-striped">
      {% csrf_token %}
<tr>
      <td>PRODUCT_NAME</td>
     <td><select name="select" id="select"class="form-control" required>
         {% for i in data %}
         <option value="{{ i.id }}">{{ i.Product_Name }} </option>
         {% endfor %}

     </select></td>
    </tr>
{#    <tr>#}
{#      <td>PRODUCT_NAME</td>#}
{#      <td><select name="select" id="select">#}
{#      </select></td>#}
{#    </tr>#}
    <tr>
      <td>EXPIRY_DATE</td>
      <td><input type="date" min="{{ dt }}" name="textfield3" id="textfield3" class="form-control" required/>
     </td>
    </tr>
    <tr>
      <td>SHELF_CODE</td>
      <td><input type="text" name="textfield4" id="textfield4" class="form-control" pattern="[A-Z]{1}" max="1" required/></td>
    </tr>
    <tr>
      <td>SHELF_ROWNO</td>
      <td><input type="text" name="textfield5" id="textfield5" class="form-control" pattern="[0-9]+" required/></td>
    </tr>
    <tr>
      <td>SHELF_COLNO</td>
      <td><input type="text" name="textfield6" id="textfield6" class="form-control" pattern="[0-9]+" required/></td>
    </tr>
    <tr>
      <td colspan="2"align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-info"/></td>

    </tr>
  </table>
</form>
</body>
{% endblock %}
