<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/E_PHARMA/admin_verify_customers/">View Customer</a><br>
<a href="/E_PHARMA/admin_view_approved_customers/">View Approved Customer</a><br>
<a href="/E_PHARMA/admin_view_rejected_customers/">View Rejected Customer</a><br>
<a href="/E_PHARMA/admin_add_stock/">Add Stock</a><br>
<a href="/E_PHARMA/admin_view_stocks/">View stocks</a><br>
<a href="/E_PHARMA/admin_add_inventory/">Add Inventory</a><br>
<a href="/E_PHARMA/admin_view_inventory/">View inventory</a><br>
<a href="/E_PHARMA/admin_view_prescription/">View Prescription</a><br>
<a href="/E_PHARMA/admin_view_orders/">View Orders</a><br>

<a href="/E_PHARMA/admin_view_payment_status/">View Payment Status</a><br>
<a href="/E_PHARMA/admin_view_complaint/">View Complaint</a><br>
<a href="/E_PHARMA/admin_view_feedback/">View Feedback</a>
</body>
</html>